* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.pair label {
    display: block;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.container {
    max-height: 700px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 21px 41px -13px rgb(0 0 0 / 18%);
}

.wrap-form-1 {
    background-color: #fff;
    height: 700px;
    width: 1400px;
    overflow: auto;
}

.wrap-form-2 {
    background-color: #fff;
    height: 600px;
    width: 1400px;
    overflow: auto;
}

.choice-panel {
    height: 30px;
    margin-bottom: 20px;
}

.form-1, .form-2, .form-3, .form-4, .return-home {
    display: none;
}

.user-input, .file-upload {
    display: none;
}

.user-input+label, .file-upload+label {
    text-align: right;
    display: block;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 10px;
    color: #fff;
}

.user-input:checked+label, .file-upload:checked+label {
    background-color: #fff;
    color: #00f;
}

.form-1:checked+.tab, .form-2:checked+.tab, .form-3:checked+.tab {
    border-color: #1161ee;
}

/* .form-1:checked */

.wrap-form-2, .wrap-form-3 {
    display: none;
}

.tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.left {
    background: #01d28e;
    width: 200px;
    float: left;
    height: 100%;
    padding-left: 15px;
    /* padding-right: 15px; */
}

.left p {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}

.right {
    float: right;
    width: 1200px;
    height: 100%;
}

#daily-summary, #daily-new {
    margin-left: 20px;
    margin-top: 30px;
}

.pair {
    display: inline-block;
    height: 50px;
    width: 280px;
}

.group {
    margin-bottom: 30px;
}

.pair input[type = "text"], input[type="number"] {
    font-size: 15px;
    line-height: 2;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: #00f;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.pair input[type = "text"]:focus, input[type="number"]:focus {
    outline: 2px solid #f00;
}


button {
    height: 50px;
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    background: #fbceb5;
    border: 1px solid #fbceb5;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
}

button:hover {
    color: #fff;
    font-weight: bold;
    background: #1161ee;
}

.wrap-form-3 {
    background-color: #fff;
    height: 600px;
    width: 1400px;
    overflow: auto;
}

/* #file-upload-2 {
    display: none;
} */
#daily-summary, #daily-new, #daily-treatment{
    display: none;
}


.wrapper-file-upload {
    width: 400px;
    height: 350px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    margin-left: auto;
    margin-right: auto;
}

.wrapper-file-upload .header {
    width: 100%;
    height: 100px;
    background: #4db6ac;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.wrapper-file-upload .header p {
    color: #FFF;
}

.wrapper-file-upload .header p i.fa {
    margin-right: 10px;
}

.wrapper-file-upload .header p span {
    font-size: 2rem;
    font-weight: 100;
}

.wrapper-file-upload .header p span span {
    font-weight: 600;
}

.wrapper-file-upload .form-group {
    background: #FFF;
    width: 100%;
    height: calc(100% - 100px);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.wrapper-file-upload .file-upload-input input[type="file"] {
    display: none;
}

.wrapper-file-upload.file-upload-input i.fa {
    color: #d3d3d3;
    margin-bottom: 20px;
}

.wrapper-file-upload .file-upload-input p strong {
    color: #4db6ac;
}

.wrapper-file-upload .file-upload-input p span {
    color: #4db6ac;
    text-decoration: underline;
}

input + label{
    padding-right: 10px;
}
.file-title-wrap{
    text-align: center;
    display: none;
}
.file-title-wrap div{
    margin-bottom: 20px;
}
.file-title-wrap div span{
    margin-left: 20px;
}
.file-title-wrap span{
    font-size: 14px;
}
button[type='button']{
    margin-left: 40px;
}
button[type='button']:hover{
    background: red;
}