* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    background: url(../images/bg.jpg);
    position: relative;
    /* height: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
}

#container{
    /* position: absolute; */
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}
input{
    height: 50px;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
    font-weight: 500;
    line-height: 1.5;
    background-color: 	#808080;
    /* background: rgba(255, 255, 255, 0.08); */
}
input:focus{
    outline: 1px solid #fff;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
button{
    height: 50px;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    background: #fbceb5 !important;
    border: 1px solid #fbceb5 !important;
    color: #000 !important;
    font-size: 15px;
    text-transform: uppercase;
}
.form-group{
    margin-bottom: 16px;
}
input, button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
button:hover{
    color: #fff !important;
    background-color: #5F9EA0 !important;
}
.upload {
    position: relative;
    width: 400px;
    min-height: 445px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(black, .2);
    padding-bottom: 20px;
    background: #fff;
    animation: fadeup .5s .5s ease both;
    transform: translateY(20px);
    opacity: 0;
}
.upload 