* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

/* *:not(.center-summary *, .H_ib_body *){
  color: #fff;
} */

.hcm-homepage{
  font-family: 'Tahoma','Verdana','Segoe',sans-serif;
}

.navbar {
  border: 0;
  z-index: 9999;
  height: 3.8em !important;
  margin: 0 !important;
  /* background-color: #26334f !important; */
  /* background-color: #bdc3c7 !important; */
}
.navbar-toggler{
  border: 0;
}

.dropdown-menu{
  max-height: 300px;
  overflow-y: auto;
}

.hcm-homepage tbody{
  display: table;
  width: 100%;
}

.txt-1{
  font-size: .9em;
  font-weight: 800;
  text-transform: uppercase;;
}
.txt-2{
  font-size: .75em;
  font-weight: 600;
  text-transform: uppercase;;
}
.num-1{
  font-weight: bolder;
  font-size: 1.5em;
}
.num-2{
  font-weight: 700;
  font-size: 1.25em;
}
.info-popup{
  display: none; 
  position:absolute; 
  top: -1em; 
  border: 1px solid; 
  border-radius: 20px; 
  background-color: #fff;
  max-width: 20em;
  height: max-content;
  padding: 1em;
  z-index: 9999;
}

.forcast-charts{
  border-radius: 20px;
  background-color: #fff;
  height: calc(100vh - 56px - 5em);
  overflow: hidden;
}
.right-table{
  height: calc(100vh - 56px); 
  overflow-y: scroll;
}
.forcast-charts h5{
  margin: 1em;
  text-align: center;
}

.forcast-charts canvas{
  padding-bottom: 6em;
  margin-left: 1em;
  height: auto;
  min-height: 100%;
}

.carousel-indicators li {
  background-color: #d2dae2;
}
.carousel-indicators .active {
  background-color: #808e9b;
}



/* Extra small devices (phones, less than 768px) */
.scalable{
  border: solid .1em #000;
  border-radius: 5px;
  border-bottom: none;
}
.scalable > div{
  border: none !important;
  border-bottom: solid .1em #000 !important;
}
.hide-sm{
  display: none;
}
.visible-sm{
  display: block;
}
.scalable > div:nth-child(odd){
  background-color: #bdc3c7 !important;
}
.num-1{
  color: #0652DD;
}
.num-2{
  color: #0652DD;
}
.scalable > div:nth-child(odd) > .num-1,.scalable > div:nth-child(odd) > .num-2{
  color: #34ace0;
}
.nav-item{
  background-color: #343a40;
  width: 100%;
  text-align: center;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .forcast-charts{
    height: calc(100vh - 116px - 1em -  5em);
  }
  .right-table{
    height: calc(100vh - 116px - 1em -  6em - 2em); 
    overflow-y: scroll;
  }
  .nav-item{
    width: max-content;
  }
  .scalable > div:nth-child(odd){
    border-right: solid .01em #000 !important;
    background-color: #fff !important;
  }
  .scalable > div:nth-child(odd) > .num-1,.scalable > div:nth-child(odd) > .num-2{
    color: #0652DD;
  } 
  .scalable > div:nth-child(4n+0), .scalable > div:nth-child(4n+3){
    background-color: #bdc3c7 !important;
  }
  .scalable > div:nth-child(4n+0) .num-1, .scalable > div:nth-child(4n+0) .num-2, .scalable > div:nth-child(4n+3) .num-1, .scalable > div:nth-child(4n+3) .num-2{
    color: #34ace0 !important;
  }
  .hide-sm{
    display: block;
  }
  .visible-sm{
    display: none;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}
