{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block content %}
<!-- <h1>Achievements of this project</h1> -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Achievement</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>30<sup>th</sup> July 2020</td>
      <td>Finish first version.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>31<sup>th</sup> July 2020</td>
      <td>Apply HAI 2020 competition.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>12<sup>th</sup> August 2020</td>
      <td>Top 50 project in HAI 2020. <a href="https://hai.doimoisangtao.vn/cong-bo-top-50-cuoc-thi-hai-hcmc-artificial-intelligence-2020/">Link</a></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>28<sup>th</sup> August 2020</td>
      <td>Present at HAI 2020 semifinal round.</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>06<sup>th</sup> September 2020</td>
      <td>Apply in Euréka 2020 competition - Biomedical Technology - School level.</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>15<sup>th</sup> September 2020</td>
      <td>Improve model to a new version.</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>30<sup>th</sup> September 2020</td>
      <td>Paper is accepted at ACOMP 2020.</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>9<sup>th</sup> October 2020</td>
      <td>Apply in Euréka 2020 competition - Biomedical Technology.</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>24<sup>th</sup> October 2020</td>
      <td>Defense at Euréka 2020 semifinal round.</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>29<sup>th</sup> October 2020</td>
      <td>Selected to the final final round in Biomedical Technology at Euréka 2020.</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>15<sup>th</sup> November 2020</td>
      <td>Apply model in country level..</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>21<sup>th</sup> November 2020</td>
      <td>Present at International Student Science Forum Ho Chi Minh City (ISSF 2020).</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>27<sup>th</sup> November 2020</td>
      <td>Defense at Euréka 2020 final round.</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>28<sup>th</sup> November 2020</td>
      <td>Achieve 1<sup>st</sup> place in Biomedical Technology at Euréka 2020. <a href="http://khoahoctre.com.vn/danh-sach-de-tai-dat-giai-giai-thuong-sinh-vien-nghien-cuu-khoa-hoc-eureka-lan-22-nam-2020/">Link</a></td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>29<sup>th</sup> December 2020</td>
      <td>Present at the 5th TransMed-VN Conference at Hue University of Medicine and Pharmacy (Hue UMP).</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>2<sup>nd</sup> July 2021</td>
      <td>Start second phase (adapt to HCMC).</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>8<sup>th</sup> October 2021</td>
      <td>Apply in InnoCity 2021 competition.</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>15<sup>th</sup> October 2021</td>
      <td>Present at ICST Conference - Research on COVID-19 in Vietnam.</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>26<sup>th</sup> April 2022</td>
      <td>BeCaked was accepted for publication at Scientific Reports.</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>13<sup>th</sup> May 2022</td>
      <td>BeCaked is published at Scientific Reports. <a href="http://doi.org/10.1038/s41598-022-11693-9">Link</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
