{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block content %}
<h3 style="padding-top: 1em;">We would like to give our thanks to all individuals and organizations for supporting us to finish this project.</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Representation</th>
      <th scope="col">Place of work</th>
      <th scope="col">Supporting</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mr. Nguyen Tan Duc</td>
      <td>University of Technology - Viet Nam National University Ho Chi Minh City</td>
      <td>Help us measure our model performance and develop our website.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mr. Vo Ngoc Trong</td>
      <td>University of Technology - Viet Nam National University Ho Chi Minh City</td>
      <td>Help us design front-end our website.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Ms. Huong Nguyen</td>
      <td>University of Technology - Viet Nam National University Ho Chi Minh City</td>
      <td>Help us in pitching skills.</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Review Board (All lectures)</td>
      <td>University of Technology - Viet Nam National University Ho Chi Minh City</td>
      <td>Suggest and comment our project.</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Dr. Tran Ngoc Dang</td>
      <td>University of Medicine and Pharmacy Ho Chi Minh City</td>
      <td>Suggest questions and give us tips, comments for presentation.</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Faculty of Computer Science and Engineering</td>
      <td>University of Technology - Viet Nam National University Ho Chi Minh City</td>
      <td>Sponsor a sever for hosting this website.</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Mr. Bui Hong Son</td>
      <td>Department of Natural Resources and Environment of Ho Chi Minh City</td>
      <td>Suggest and comment our project.</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Mr. Khuu Minh Canh</td>
      <td>HCMGIS</td>
      <td>Suggest and comment our project.</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Dr. Truong Minh Huy Vu</td>
      <td>VNU.DC, ITP</td>
      <td>Suggest and comment our project.</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Dr. Nguyen Viet Cuong</td>
      <td>INT</td>
      <td>Sponsor a sever for training our model</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Prof. Nguyen Hung Son</td>
      <td>University of Warsaw, Poland</td>
      <td>Suggest and comment our project, sponsor a sever for training our model</td>
    </tr>
  </tbody>
</table>
{% endblock %}
