{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-data.js" charset="utf-8"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>

<!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" /> -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.1.1/chartjs-plugin-zoom.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  // Chart.register(zoomPlugin);
</script>
<script src="/BeCaked{{ url_for('static', filename='js/draw_maps.js') }}"></script>
<script src="/BeCaked{{ url_for('static', filename='js/draw.js') }}"></script>
{% endblock %}
{% block content %}

<div class="dropdown mr-1" style="position: fixed; top: calc(60px + 1em); right: 0; z-index: 99999;">
  <button type="button" class="btn btn-secondary dropdown-toggle" id="district" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
    {{ name }}
  </button>
  <div class="dropdown-menu" aria-labelledby="district">
    {% for district in districts %}
    <div class="dropdown-item btn" onclick="load_district('{{ district }}')">{{district}}</div>
    {% endfor %}
  </div>
</div>

<div class="container-fluid hcm-homepage">
  <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
    <div class="col-lg-8 col-sm-12" align="left">
      <!-- left -->
      <div class="container-fluid" style="border-radius: 20px; height: calc(100vh - 60px - 2em);" id="mapContainer"></div>
    </div>
    <div class="col-lg-4 col-sm-12" align="left">
      <!-- right -->
      <div class="container-fluid" style="margin-top: 1em; margin-bottom: 1em; height: auto; min-height: 100%">
        <div class="text-center" style="padding-bottom: .25em; font-size: 2em; font-weight: 900;">
          {{ form_1["date"][:-6].upper() }}
        </div>
        <div class="row scalable">
          <div class="col-lg-6 col-sm-12 text-center">
            <div class="txt-1">CA MỚI</div>
            <div class="txt-2">(PCR + TEST)</div>
            <div class="num-1">{{ "{:,}".format(form_1['new-infections']['pcr']) }} + {{ "{:,}".format(form_1['new-infections']['rapid-test']) }}</div>
          </div>
          <div class="col-lg-6 col-sm-12 text-center">
            <div class="txt-1">TỔNG SỐ CA</div>
            <div class="txt-2">(ĐỢT 4)</div>
            <div class="num-1">{{ "{:,}".format(form_1['total-cases']) }}</div>
          </div>
          <div class="col-lg-6 col-sm-12 text-center" onmouseover="$('#xuatvien-popup').show()" onmouseout="$('#xuatvien-popup').hide()">
            <div class="txt-1">XUẤT VIỆN</div>
            <div class="num-1">{{ "{:,}".format(form_1['total-recovered']['hospital']) }}</div>
            <div class="num-2">+{{ "{:,}".format(form_1['recovered']['hospital']) }}</div>
            <div class="info-popup" id="xuatvien-popup">
              Hôm nay có {{ "{:,}".format(form_1['recovered']['hospital']) }} ca mới, tổng từ ngày 1/1/2021 có {{ "{:,}".format(form_1['total-recovered']['hospital']) }} ca
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 text-center" onmouseover="$('#kcl-popup').show()" onmouseout="$('#kcl-popup').hide()">
            <div class="txt-1">HỒI PHỤC KCL</div>
            <div class="num-1">{{ "{:,}".format(form_1['total-recovered']['quarantine']) }}</div>
            <div class="num-2">+{{ "{:,}".format(form_1['recovered']['quarantine']) }}</div>
            <div class="info-popup" id="kcl-popup">
              Hôm nay có {{ "{:,}".format(form_1['recovered']['quarantine']) }} ca mới, tổng đợt 4 có {{ "{:,}".format(form_1['total-recovered']['quarantine']) }} ca
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 text-center" onmouseover="$('#dieutri-popup').show()" onmouseout="$('#dieutri-popup').hide()">
            <div class="txt-1">ĐIỀU TRỊ</div>
            <div class="num-1">{{ "{:,}".format(form_1['treatment']['current']) }}</div>
            <div class="num-2">+{{ "{:,}".format(form_1['treatment']['new-hospital']) }}</div>
            <div class="info-popup" id="dieutri-popup">
              Hôm nay nhập viện thêm {{ "{:,}".format(form_1['treatment']['new-hospital']) }} ca, hiện đang điều trị {{ "{:,}".format(form_1['treatment']['current']) }} ca
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 text-center" onmouseover="$('#tuvong-popup').show()" onmouseout="$('#tuvong-popup').hide()">
            <div class="txt-1">TỬ VONG</div>
            <div class="num-1">{{ "{:,}".format(form_3['data'][15][0]) }}</div>
            <div class="num-2">+{{ "{:,}".format(form_1['death']) }}</div>
            <div class="info-popup" id="tuvong-popup">
              Hôm nay có {{ "{:,}".format(form_1['death']) }} ca mới, tổng từ ngày 1/1/2021 có {{ "{:,}".format(form_3['data'][15][0]) }} ca
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 text-center" onmouseover="$('#mui1-popup').show()" onmouseout="$('#mui1-popup').hide()">
            <div class="txt-1">MŨI 1</div>
            <div class="num-1">{{ "{:,}".format(form_1['total-vaccine']['first-dose']) }}</div>
            <div class="num-2">+{{ "{:,}".format(form_1['new-vaccine']['first-dose']) }}</div>
            <div class="info-popup" id="mui1-popup">
              Hôm nay tiêm được {{ "{:,}".format(form_1['new-vaccine']['first-dose']) }} mũi mới, tổng cộng đã tiêm {{ "{:,}".format(form_1['total-vaccine']['first-dose']) }} mũi
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 text-center" onmouseover="$('#mui2-popup').show()" onmouseout="$('#mui2-popup').hide()">
            <div class="txt-1">MŨI 2</div>
            <div class="num-1">{{ "{:,}".format(form_1['total-vaccine']['second-dose']) }}</div>
            <div class="num-2">+{{ "{:,}".format(form_1['new-vaccine']['second-dose']) }}</div>
            <div class="info-popup" id="mui2-popup">
              Hôm nay tiêm được {{ "{:,}".format(form_1['new-vaccine']['second-dose']) }} mũi mới, tổng cộng đã tiêm {{ "{:,}".format(form_1['total-vaccine']['second-dose']) }} mũi
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 text-center">
            <div class="txt-1">F0 TẠI NHÀ</div>
            <div class="num-1">{{ "{:,}".format(form_1['F0']['home']) }}</div>
          </div>
          <div class="col-lg-6 col-sm-12 text-center">
            <div class="txt-1">F0 KCL</div>
            <div class="num-1">{{ "{:,}".format(form_1['F0']['quarantine']) }}</div>    
          </div>
          <div class="col-lg-6 col-sm-12 text-center">
            <div class="txt-1">THỞ MÁY XÂM LẤN</div>
            <div class="num-1">{{ "{:,}".format(form_1['critical']['invasive-ventilation']) }}</div>    
          </div>
          <div class="col-lg-6 col-sm-12 text-center">
            <div class="txt-1">ECMO</div>
            <div class="num-1">{{ "{:,}".format(form_1['critical']['emo']) }}</div>    
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12" align="left">
      <!-- left -->
      <div id="days" value="-1"></div>
      <div id = "scenario"></div>
      <div class="btn-group d-flex" role="group" style="padding-bottom: 1em;">
        <button type="button" class="btn btn-sm btn-light w-100 active g-time" onclick="check(this,'g-time'); $('#days').attr('value','-1'); load_chart()">
          <span class="hide-sm">Tất cả</span>
          <span class="visible-sm"><i class="fas fa-infinity"></i></span>
        </button>
        <button type="button" class="btn btn-sm btn-light w-100 g-time" onclick="check(this,'g-time'); $('#days').attr('value','28'); load_chart()">
          <span class="hide-sm">28 ngày</span>
          <span class="visible-sm">28</i></span>
        </button>
        <button type="button" class="btn btn-sm btn-light w-100 g-time" onclick="check(this,'g-time'); $('#days').attr('value','7'); load_chart()">
          <span class="hide-sm">7 ngày</span>
          <span class="visible-sm">7</i></span>
        </button>
        <button type="button" class="btn btn-sm btn-light w-100 g-scenario" onclick="$('#scenario').attr('value','best'); load_chart(); check(this,'g-scenario')">
          <span class="hide-sm">Kịch bản tốt</span>
          <span class="visible-sm"><i class="fas fa-check-double"></i></span>
        </button>
        <button type="button" class="btn btn-sm btn-light w-100 active g-scenario" onclick="$('#scenario').attr('value','normal'); load_chart(); check(this,'g-scenario')">
          <span class="hide-sm">Kịch bản bình thường</span>
          <span class="visible-sm"><i class="fas fa-check"></i></span>
        </button>
        <button type="button" class="btn btn-sm btn-light w-100 g-scenario" onclick="$('#scenario').attr('value','worst'); load_chart(); check(this,'g-scenario')">
          <span class="hide-sm">Kịch bản xấu</span>
          <span class="visible-sm"><i class="fas fa-exclamation-triangle"></i></span>
        </button>
        <button type="button" class="btn btn-sm btn-light w-30 g-scenario" onclick = "resetZoom(my_chart_i); resetZoom(my_chart_r); resetZoom(my_chart_d); resetZoom(my_chart_c)">
          <i class="fas fa-expand-alt"></i>
        </button>
      </div>
  
      <div id="carousel-example-generic-captions" class="carousel slide" data-ride="carousel">
			  		<!-- Indicators -->
					  <ol class="carousel-indicators">
						<li data-target="#carousel-example-generic-captions" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic-captions" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic-captions" data-slide-to="2"></li>
            <li class="only-hcm" data-target="#carousel-example-generic-captions" data-slide-to="3"></li>
					  </ol>                      
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
					<div class="carousel-item active forcast-charts">
            <h5 style="color:#19191a">DỰ BÁO SỐ CA NHIỄM MỚI HÀNG NGÀY</h5>
            <div></div>
					  <canvas id="chart_i"></canvas>
					</div>
					<div class="carousel-item forcast-charts">
            <h5 style="color:#19191a">DỰ BÁO SỐ CA HỒI PHỤC HÀNG NGÀY</h5>
					  <canvas id="chart_r"></canvas>
					</div>
					<div class="carousel-item forcast-charts">
            <h5 style="color:#19191a">DỰ BÁO SỐ CA TỬ VONG HÀNG NGÀY</h5>
					  <canvas id="chart_d"></canvas>
					</div>
          <div class="carousel-item forcast-charts only-hcm">
            <h5 style="color:#19191a">DỰ BÁO SỐ BỆNH NHÂN Ở TẦNG 3</h5>
					  <canvas id="chart_c"></canvas>
					</div>
				  </div>
				  <!-- Controls -->
				  <a class="carousel-control-prev" href="#carousel-example-generic-captions" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carousel-example-generic-captions" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				  </a>
				</div> 
    </div>
    <div class="col-lg-4 col-md-12" align="left">
      <!-- right -->
      <div class="text-center" style="padding-bottom: .25em; font-size: 2em;">
        BỆNH VIỆN
      </div>
      <table class="table table-hover table-responsive text-center" style="height: calc(100vh - 116px - 1em -  6em - 2em); overflow-y: scroll;">
        <tr style="position: sticky; top: 0; z-index: 1; background-color: #7f8c8d;">
          <th>Phân loại</th>
          <th>Trong ngày</th>
          <th>Ngày trước</th>
        </tr>
        <tr>
          <td>Tầng 2</td>
          <td>{{ "{:,}".format(form_3['data'][0][0]) }}</td>
          <td>{{ "{}{:,}".format('+' if form_3['data'][0][2]>0 else '',form_3['data'][0][2]) }}</td>
        </tr>
        <tr>
          <td>Tầng 3</td>
          <td>{{ "{:,}".format(form_3['data'][1][1]) }}</td>
          <td>{{ "{}{:,}".format('+' if form_3['data'][1][2]>0 else '',form_3['data'][1][2]) }}</td>
        </tr>
        <tr style="background-color: yellow; font-weight: 600; font-size: 1.25em;">
          <td>Tổng T.2 + T.3</td>
          <td>{{ "{:,}".format(form_3['data'][2][1]) }}</td>
          <td style="color: {{'red' if form_3['data'][2][2]>0 else 'green'}};">{{ "{}{:,}".format('+' if form_3['data'][2][2]>0 else '',form_3['data'][2][2]) }}</td>
        </tr>
        <tr>
          <td>Thở nội khí quản</td>
          <td>{{ "{:,}".format(form_3['data'][3][1]) }}</td>
          <td>{{ "{}{:,}".format('+' if form_3['data'][3][2]>0 else '',form_3['data'][3][2]) }}</td>
        </tr>
        <tr>
          <td>trong đó ECMO</td>
          <td>{{ "{:,}".format(form_3['data'][4][1]) }}</td>
          <td>{{ "{}{:,}".format('+' if form_3['data'][4][2]>0 else '',form_3['data'][4][2]) }}</td>
        </tr>
        <tr>
          <td>Thở máy không xâm lấn</td>
          <td>{{ "{:,}".format(form_3['data'][5][1]) }}</td>
          <td>{{ "{}{:,}".format('+' if form_3['data'][5][2]>0 else '',form_3['data'][5][2]) }}</td>
        </tr>
        <tr>
          <td>Thở oxy qua mũi, mask</td>
          <td>{{ "{:,}".format(form_3['data'][6][1]) }}</td>
          <td>{{ "{}{:,}".format('+' if form_3['data'][6][2]>0 else '',form_3['data'][6][2]) }}</td>
        </tr>
        <tr style="background-color: yellow; font-weight: 600; font-size: 1.25em;">
          <td>Tổng hỗ trợ hô hấp</td>
          <td>{{ "{:,}".format(form_3['data'][7][1]) }}</td>
          <td style="color: {{'red' if form_3['data'][7][2]>0 else 'green'}};">{{ "{}{:,}".format('+' if form_3['data'][7][2]>0 else '',form_3['data'][7][2]) }}</td>
        </tr>
        <tr>
          <td>Xuất viện - Trẻ em</td>
          <td>{{ "{:,}".format(form_3['data'][8][1]) }}</td>
          <td>{{ "{}{:,}".format('+' if form_3['data'][8][2]>0 else '',form_3['data'][8][2]) }}</td>
        </tr>
        <tr>
          <td>Xuất viện - Phụ nữ mang thai</td>
          <td>{{ "{:,}".format(form_3['data'][9][1]) }}</td>
          <td>{{ "{}{:,}".format('+' if form_3['data'][9][2]>0 else '',form_3['data'][9][2]) }}</td>
        </tr>
        <tr>
          <td>Xuất viện - Khác</td>
          <td>{{ "{:,}".format(form_3['data'][10][1]) }}</td>
          <td>{{ "{}{:,}".format('+' if form_3['data'][10][2]>0 else '',form_3['data'][10][2]) }}</td>
        </tr>
        <tr style="background-color: yellow; font-weight: 600; font-size: 1.25em;">
          <td>Tổng xuất viện</td>
          <td>{{ "{:,}".format(form_3['data'][11][1]) }}</td>
          <td style="color: {{'red' if form_3['data'][11][2]<0 else 'green'}};">{{ "{}{:,}".format('+' if form_3['data'][11][2]>0 else '',form_3['data'][11][2]) }}</td>
        </tr>
        <tr>
          <td>Tử vong - Trẻ em</td>
          <td>{{ "{:,}".format(form_3['data'][12][1]) }}</td>
          <td>{{ "{}{:,}".format('+' if form_3['data'][12][2]>0 else '',form_3['data'][12][2]) }}</td>
        </tr>
        <tr>
          <td>Tử vong - Phụ nữ mang thai</td>
          <td>{{ "{:,}".format(form_3['data'][13][1]) }}</td>
          <td>{{ "{}{:,}".format('+' if form_3['data'][13][2]>0 else '',form_3['data'][13][2]) }}</td>
        </tr>
        <tr>
          <td>Tử vong - Khác</td>
          <td>{{ "{:,}".format(form_3['data'][14][1]) }}</td>
          <td>{{ "{}{:,}".format('+' if form_3['data'][14][2]>0 else '',form_3['data'][14][2]) }}</td>
        </tr>
        <tr style="background-color: yellow; font-weight: 600; font-size: 1.25em;">
          <td>Tổng tử vong</td>
          <td>{{ "{:,}".format(form_3['data'][15][1]) }}</td>
          <td style="color: {{'red' if form_3['data'][15][2]>0 else 'green'}};">{{ "{}{:,}".format('+' if form_3['data'][15][2]>0 else '',form_3['data'][15][2]) }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script>
  // map scripts
  //quy hoach su dung dat 2016-2020
  const qhsdd = new L.tileLayer('http://120.72.116.162/geoserver/gwc/service/wmts?service=wmts&request=GetTile&version=1.0.0&layer=tnmt:qhsdd2020&tilematrixset=EPSG:900913&tilematrix=EPSG:900913:{z}&tilerow={y}&tilecol={x}&format=image%2Fpng', {
      attribution: "<a href='http://dost.hochiminhcity.gov.vn' target='_blank'>HCMC DONRE</a>",
      opacity:0.5,maxZoom:20
  });
  // ranh thua cua Tp.HCM
  const ranhthua_hcmc = new L.tileLayer('http://120.72.116.162/geoserver/gwc/service/wmts?service=wmts&request=GetTile&version=1.0.0&layer=tnmt:v_ranhthua_TPHCM&tilematrixset=EPSG:900913&tilematrix=EPSG:900913:{z}&tilerow={y}&tilecol={x}&format=image%2Fpng', {
      attribution: "<a href='http://dost.hochiminhcity.gov.vn' target='_blank'>HCMC DONRE</a>",
      opacity: 1, maxZoom: 20
  });

  //HCMC LIDAR 2012
  const lidar2012 = new L.tileLayer('http://120.72.116.162/geoserver/gwc/service/wmts?service=wmts&request=GetTile&version=1.0.0&layer=tnmt:hcm_lidar_2012&tilematrixset=EPSG:900913&tilematrix=EPSG:900913:{z}&tilerow={y}&tilecol={x}&format=image%2Fpng', {
      attribution: "<a href='http://dost.hochiminhcity.gov.vn' target='_blank'>HCMC DOST</a>", maxZoom: 20
  });

  // Topographic map 2003 updated 2010
  const bddh2003 = new L.tileLayer('http://120.72.116.162/geoserver/gwc/service/wmts?service=wmts&request=GetTile&version=1.0.0&layer=tnmt:BDDH&tilematrixset=EPSG:900913&tilematrix=EPSG:900913:{z}&tilerow={y}&tilecol={x}&format=image%2Fpng', {
    attribution: "<a href='http://www.donre.hochiminhcity.gov.vn' target='_blank'>HCMC DONRE</a>", maxZoom: 20
  });

  //HCMC SPOT 2008
  const spot5_2008 = new L.tileLayer('http://120.72.116.162/geoserver/gwc/service/wmts?service=wmts&request=GetTile&version=1.0.0&layer=tnmt:hcm_spot&tilematrixset=EPSG:900913&tilematrix=EPSG:900913:{z}&tilerow={y}&tilecol={x}&format=image%2Fpng', {
      attribution: "<a href='http://www.donre.hochiminhcity.gov.vn/' target='_blank'>HCMC DONRE</a>", maxZoom: 16
  });

  //HCMC VNREDSAT 2019
  const vnredsat2019 = new L.tileLayer('http://120.72.116.162/geoserver/gwc/service/wmts?service=wmts&request=GetTile&version=1.0.0&layer=tnmt:vnredsat2019&tilematrixset=EPSG:900913&tilematrix=EPSG:900913:{z}&tilerow={y}&tilecol={x}&format=image%2Fpng', {
      attribution: "<a href='http://www.donre.hochiminhcity.gov.vn/' target='_blank'>HCMC DONRE</a>", maxZoom: 16
  });

  //HCMC kế hoạch SD đất 2018
  const kehoachsdd2018 = new L.tileLayer('http://120.72.116.162/geoserver/gwc/service/wmts?service=wmts&request=GetTile&version=1.0.0&layer=tnmt:kehoachsdd_hcm_2018&tilematrixset=EPSG:900913&tilematrix=EPSG:900913:{z}&tilerow={y}&tilecol={x}&format=image%2Fpng', {
      attribution: "<a href='http://www.donre.hochiminhcity.gov.vn/' target='_blank'>HCMC DONRE</a>", opacity: 0.5, maxZoom: 20
  });

  //HCMC HCMGIS map
  const hcmgis_map = new L.tileLayer('https://pcd.hcmgis.vn/geoserver/gwc/service/wmts?service=wmts&request=GetTile&version=1.0.0&layer=hcm_map:hcm_map_all&tilematrixset=EPSG:900913&tilematrix=EPSG:900913:{z}&tilerow={y}&tilecol={x}&format=image%2Fpng', {
      attribution: "<a href='https://hcmgis.vn/' target='_blank'>HCMGIS</a>", opacity: 1, weight: .5, color: "yellow", fillOpacity: 0, maxZoom: 20
  });

  //Việt Bản đồ
  const vbd_map = new L.tileLayer('http://images.vietbando.com/ImageLoader/GetImage.ashx?Ver=2016&LayerIds=VBD&Level={z}&X={x}&Y={y}', {
      attribution: "<a href='http://maps.vietbando.com//' target='_blank'>VIETBANDO CORP</a>", maxZoom: 20, opacity: 1
  }); 
  // Link https://sqhkt-qlqh.tphcm.gov.vn/geoserver/gwc/demo


  //HCMC Địa giới hành chính Thành phố Thủ Đức
  const DGHC_THUDUC = new L.tileLayer('http://120.72.116.162/geoserver/gwc/service/wmts?service=wmts&request=GetTile&version=1.0.0&layer=tnmt:DGHC_TD&tilematrixset=EPSG:900913&tilematrix=EPSG:900913:{z}&tilerow={y}&tilecol={x}&format=image%2Fpng', {
      attribution: "<a href='https://donre.hochiminhcity.gov.vn/' target='_blank'>HCMC DONRE</a>", maxZoom: 20
  }); 

  // const bddh2003 = new L.tileLayer('http://120.72.116.162/geoserver/gwc/service/wmts?service=wmts&request=GetTile&version=1.0.0&layer=tnmt:BDDH&tilematrixset=EPSG:90091...e%2Fpng', {
  //   attribution: "<a href='http://www.donre.hochiminhcity.gov.vn' target='_blank'>HCMC DONRE</a>", maxZoom: 20, opacity: 1, fillOpacity: 1});

  var quanhuyen_base = new L.GeoJSON.AJAX("/BeCaked{{ url_for('static', filename='data/quanhuyen_2021.geojson') }}",{
    style: {"color": "blue", "opacity": 1, "weight": 1.75, "fillOpacity": 0, "interactive": false}})
  var phuongxa_base = new L.GeoJSON.AJAX("/BeCaked{{ url_for('static', filename='data/phuongxa_2021.geojson') }}",{
    style: {"color": "#000", "weight": .5, "opacity": .5, "fillOpacity": 0, "interactive": false}})
  // var quanhuyen_base = hcmgis_map

  var map = new L.Map(
    document.getElementById('mapContainer'),
    {
      center: { lat: 10.762622, lng: 106.660172 },
      zoom: 10,
      minZoom: 10,
      maxZoom: 17,
      layers: [vbd_map]
    }
  );
  
  var prevLayerClicked = null;
  var phuongxa_focus = null;
  var quanhuyen_focus = null;
  var mystyle = function(level){ 
    color = level == 1  ? { default: 'green', click: 'green'}:
            level == 2  ? { default: 'yellow', click: 'yellow'}:
            level == 3  ? { default: 'orange', click: 'orange'}:
            level == 4  ? { default: 'red', click: '#ff6b6b'}:
                          '#7f8c8d';
    var zoomlevel = map.getZoom();
    highlightFillOpacity = zoomlevel >= 14 ? .65 : .75
    return {
      default: {
        "color": color.default,
        "opacity": 0,
        "weight": 0,
        "fillOpacity": .6
      },
      click: {
        "fillColor": color.click,
        "color": "red",
        "weight": 1.75,
        "opacity": 1,
        "fillOpacity": highlightFillOpacity
      }}
  }

  levels = {{ levels|tojson }}
  form_2 = {{ form_2|tojson }}
  id_2r = {{ id_2r|tojson }}
  centre = {{ centre|tojson }}
 
  var quanhuyen = new L.GeoJSON.AJAX("/BeCaked{{ url_for('static', filename='data/quanhuyen_2021.geojson') }}",{
                      style: function(district) {
                          id_2 = district.properties["maDVHC"]
                          level = levels[id_2]
                          return  mystyle(level).default
                        },
                        onEachFeature: function (district, layer) {
                              layer.on({
                                mouseover: function(e){
                                  //hover: show popup, highlight area (increase opacity, fillOpacity)
                                  id_2 = district.properties["maDVHC"]
                                  level = levels[id_2]
                                  name_2= district.properties["diaDanh"]

                                  text = '<div style="font-weight: bold">'+name_2
                                  text += '<div> Cấp độ dịch: '+level+'</div>'
                                  text += '<div> Diện tích: '+parseInt(district.properties["dienTich"]).toLocaleString()+' ha</div>'
                                  text += '<div> Dân số: '+parseInt(district.properties["danSoThuTe"]).toLocaleString()+' người</div>'
                                  text += '<div> Ca nhiễm mới trong ngày {{ form_2["date"][:-6] }}: ' + form_2[id_2r[id_2]] + '</div>'
                                  layer.bindPopup(text)
                                  var popup = e.target.getPopup();
                                  popup.setLatLng(e.latlng).openOn(map);
                                  // .setLatLng(e.latlng).openPopup();
                                  layer.setStyle(mystyle(level).click);
                                },
                                'mousemove': function (e) {
                                  e.target.closePopup();
                                  var popup = e.target.getPopup();
                                  popup.setLatLng(e.latlng).openOn(map);
                                },
                                mouseout: function(e){
                                  //end hover: close popup
                                  id_2 = district.properties["maDVHC"]
                                  level = levels[id_2]
                                  layer.setStyle(mystyle(level).default);
                                  layer.closePopup()
                                },

                                click: function(e){
                                  //click: focus it
                                  var id_2 = e.target.feature.properties["maDVHC"]
                                  var level = levels[id_2]

                                  if (prevLayerClicked !== null) {
                                    prevLayerClicked.setStyle(mystyle(prevLevel).default);
                                  }

                                  if ([787,785,783].includes(id_2)){
                                    //CAN GIO, BINH CHANH, CU CHI too big :) -> zoom in
                                    map.flyTo(centre[id_2r[id_2]],12)
                                  }
                                  else{
                                    map.fitBounds(e.target.getBounds());
                                  }
                                  
                                  if (quanhuyen_focus !== null) {
                                    map.removeLayer(quanhuyen_focus)
                                  }
                                  quanhuyen_focus = new L.GeoJSON.AJAX("/BeCaked{{ url_for('static', filename='data/quanhuyen_2021.geojson') }}",{
                                    style: {"color": "red", "weight": 4, "opacity": 1, "fillOpacity": 0,  "interactive": false}, filter:filter_quan})
                                  function filter_quan(quan){
                                    if (quan.properties["maDVHC"] == id_2) return true
                                    else return false
                                  }
                                  quanhuyen_focus.addTo(map)
                                  quanhuyen_focus.bringToFront()
                                  
                                  prevLayerClicked = layer;
                                  prevLevel = level;
                                }
                                });
                          }
                    });

  var phuongxa = new L.GeoJSON.AJAX("/BeCaked{{ url_for('static', filename='data/phuongxa_2021.geojson') }}",{
                      style: function(phuong) {
                                id_3 = phuong.properties["maDVHCXa"]
                                level = levels[id_3]
                                temp =  mystyle(level).default
                                temp.opacity = 0.3
                                return temp
                              },
                              onEachFeature: function (phuong, layer) {
                                    layer.on({
                                      mouseover: function(e){
                                        // hover: show popup, highlight area
                                        id_3 = phuong.properties["maDVHCXa"]
                                        id_2 = phuong.properties["maDVHCHuye"]
                                        level = levels[id_3]
                                        name_3 = phuong.properties["diaDanhXa"]
                                        name_2 = phuong.properties["diaDanhHuy"]

                                        text = '<div style="font-weight: bold">'+name_3 + ' - ' + name_2+'</div>'
                                        text += '<div> Cấp độ dịch của Phường/Xã: '+levels[id_3]+'</div>'
                                        text += '<div> Cấp độ dịch của Quận/Huyện: '+levels[id_2]+'</div>'
                                        text += '<div> Diện tích: '+parseInt(phuong.properties["dienTich"])+' ha</div>'
                                        text += '<div> Dân số: '+parseInt(phuong.properties["danSoThucT"]).toLocaleString()+' người</div>'
                                        layer.bindPopup(text)
                                        var popup = e.target.getPopup();
                                        popup.setLatLng(e.latlng).openOn(map);
                                        // .setLatLng(e.latlng).openPopup();
                                        layer.setStyle(mystyle(level).click);
                                      },
                                      'mousemove': function (e) {
                                        e.target.closePopup();
                                        var popup = e.target.getPopup();
                                        popup.setLatLng(e.latlng).openOn(map);
                                      },
                                      mouseout: function(e){
                                        // end hover: close popup
                                        id_3 = phuong.properties["maDVHCXa"]
                                        level = levels[id_3]
                                        layer.setStyle(mystyle(level).default);
                                        layer.closePopup()
                                      },

                                      click: function(e){
                                        // click: focus it
                                        var id_3 = e.target.feature.properties["maDVHCXa"]
                                        var level = levels[id_3]

                                        if (prevLayerClicked !== null) {
                                            // Reset style
                                          prevLayerClicked.setStyle(mystyle(prevLevel).default);
                                        }
                                        map.fitBounds(e.target.getBounds());
                                        var layer = e.target;
                                        layer.setStyle(mystyle(level).click);
                                        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                                          layer.bringToFront();
                                        }

                                        if (map.hasLayer(phuongxa_focus)) {
                                            map.removeLayer(phuongxa_focus);
                                        }
                                        if (map.hasLayer(quanhuyen_focus)) {
                                            map.removeLayer(quanhuyen_focus);
                                        }

                                        if (phuongxa_focus !== null) {
                                          map.removeLayer(phuongxa_focus)
                                        }
                                        phuongxa_focus = new L.GeoJSON.AJAX("/BeCaked{{ url_for('static', filename='data/phuongxa_2021.geojson') }}",{
                                          style: {"color": "red", "opacity": 1, "fillOpacity": 0, "interactive": false}, filter:filter_phuong})
                                        function filter_phuong(phuong){
                                          if (phuong.properties["maDVHCXa"] == id_3) return true
                                          else return false
                                        }
                                        phuongxa_focus.addTo(map)

                                        prevLayerClicked = layer;
                                        prevLevel = level;
                                      }
                                    });
                                }
                    });
 
  
  quanhuyen.addTo(map)
  map.on('zoomend', function() {
          var zoomlevel = map.getZoom();
              if (zoomlevel < 11.5){
                  if (!map.hasLayer(hcmgis_map) & zoomlevel > 10){
                      map.addLayer(hcmgis_map)
                  }
                  if (map.hasLayer(phuongxa)) {
                      map.removeLayer(phuongxa);
                  }
                  if (map.hasLayer(phuongxa_base)) {
                      map.removeLayer(phuongxa_base);
                  } 
                  if (map.hasLayer(phuongxa_focus)) {
                      map.removeLayer(phuongxa_focus);
                  }
                  if (map.hasLayer(quanhuyen_focus)) {
                      map.removeLayer(quanhuyen_focus);
                  }
                  if (map.hasLayer(quanhuyen_base) & zoomlevel == 10){
                      map.removeLayer(quanhuyen_base)
                      map.removeLayer(hcmgis_map)
                  }

                  if (!map.hasLayer(quanhuyen)){
                      map.addLayer(quanhuyen)
                  }
                  if (!map.hasLayer(quanhuyen_base) & zoomlevel > 10){
                      map.addLayer(quanhuyen_base)
                  }
                  
                  
                if (map.hasLayer(quanhuyen_focus)) {
                  quanhuyen_focus.bringToFront()
                }
              }
              if (zoomlevel >= 11.5){
                if (!map.hasLayer(hcmgis_map) & zoomlevel > 10){
                      map.addLayer(hcmgis_map)
                }
                if (map.hasLayer(quanhuyen)) {
                      map.removeLayer(quanhuyen);
                  } 
                if (!map.hasLayer(phuongxa)){
                      map.addLayer(phuongxa)
                      map.addLayer(phuongxa_base)
                  }
                if (map.hasLayer(phuongxa_focus)) {
                  phuongxa_focus.bringToFront()
                } 
                
                if (!map.hasLayer(quanhuyen_base)){
                      map.addLayer(quanhuyen_base)
                }

                if (map.hasLayer(quanhuyen_focus)) {
                  quanhuyen_focus.bringToFront()
                }
                if (map.hasLayer(phuongxa_focus)) {
                  phuongxa_focus.bringToFront()
                }
              }
              console.log(zoomlevel)
          });
</script>

<script type = "text/javascript">
// chart scripts
  _prev_district = 'hcm'
  _district = 'hcm';

  function resetZoom(x)
  {
    x.resetZoom();
  }
  function load_chart(){
    days = $("#days")[0].getAttribute('value');
    load_chart_i();
    load_chart_r();
    load_chart_d();
    load_chart_c();
  }
  function load_chart_i()
  {
    scenario = ($("#scenario").attr("value") == undefined) ? "best" : $("#scenario").attr("value");
    my_chart_i.destroy();
    $.getJSON('/BeCaked/__load_data?district='+_district+'&&state=I&&scenario='+scenario, function(data) {
      my_chart_i = draw_chart('chart_i', data,days)
     });
  }
  function load_chart_r()
  {
    scenario = ($("#scenario").attr("value") == undefined) ? "best" : $("#scenario").attr("value");
    my_chart_r.destroy();
    $.getJSON('/BeCaked/__load_data?district='+_district+'&&state=R&&scenario='+scenario, function(data) {
      my_chart_r = draw_chart('chart_r', data,days)
     });
  }
  function load_chart_d()
  {
    scenario = ($("#scenario").attr("value") == undefined) ? "best" : $("#scenario").attr("value");
    my_chart_d.destroy();
    $.getJSON('/BeCaked/__load_data?district='+_district+'&&state=D&&scenario='+scenario, function(data) {
      my_chart_d = draw_chart('chart_d', data,days)
     });
  }
  function load_chart_c()
  {
    my_chart_c.destroy();
    if (_district == 'hcm'){
      scenario = ($("#scenario").attr("value") == undefined) ? "best" : $("#scenario").attr("value");
      $.getJSON('/BeCaked/__load_data?district='+_district+'&&state=C&&scenario='+scenario, function(data) {
        my_chart_c = draw_chart('chart_c', data,days)
      });
    }
  }
  function load_district(x){
      _prev_district = _district
      _district = x.toLowerCase().replace(' ','_');
      $("#district").text(x);
      if (_district == 'hcm'){
        if (_prev_district != 'hcm'){
          $(".carousel-indicators").append('<li class="only-hcm" data-target="#carousel-example-generic-captions" data-slide-to="3"></li>')
          $(".carousel-inner").append('<div class="carousel-item forcast-charts only-hcm"><h5 style="color:#19191a">DỰ BÁO SỐ BỆNH NHÂN Ở TẦNG 3</h5><canvas id="chart_c"></canvas></div>')
        }
      }
      else{
        $('.carousel-indicators .active').removeClass('active')
        $('.carousel-indicators li:first-child').addClass('active')
        $('.carousel-inner .active').removeClass('active')
        $('.carousel-inner div:first-child').addClass('active')
        $('.only-hcm').remove()
      }
      load_chart();
      centre = {{ centre|tojson }}
      if (x=='HCM'){
        map.flyTo({ lat: 10.762622, lng: 106.660172 },10)
      }
      else{
        map.flyTo(centre[x],12)
      }
  }

  scenario = ($("#scenario").attr("value") == undefined) ? "best" : $("#scenario").attr("value");
  $.getJSON('/BeCaked/__load_data?district='+_district+'&&state=I&&scenario='+scenario, function(data) {
      my_chart_i = draw_chart('chart_i', data,days)
  });
  $.getJSON('/BeCaked/__load_data?district='+_district+'&&state=R&&scenario='+scenario, function(data) {
      my_chart_r = draw_chart('chart_r', data,days)
  });
  $.getJSON('/BeCaked/__load_data?district='+_district+'&&state=D&&scenario='+scenario, function(data) {
      my_chart_d = draw_chart('chart_d', data,days)
  });
  $.getJSON('/BeCaked/__load_data?district='+_district+'&&state=C&&scenario='+scenario, function(data) {
      my_chart_c = draw_chart('chart_c', data,days)
  });
  </script>

<script>
  // other scripts
  function check(ele,group){
    $("."+group).removeClass("active")
    ele.classList.add("active")
  }
</script>


{% endblock %}

{% block lastupdate %}
<div style="padding-top: 1.75em; font-style: italic; font-size: 80%; color: #fff">
  Last updated {{ today }}
</div>
{% endblock %}