{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="/BeCaked{{ url_for('static', filename='js/draw.js') }}"></script>
{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-4" align="left" style="padding-top: 0em; padding-left: 3.5em;">
      <span class="btn-group flex-wrap" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" onclick="$('#myChart').attr('value','infected'); draw()">Infected</button>
        <button type="button" class="btn btn-secondary" onclick="$('#myChart').attr('value','recovered'); draw()">Recovered</button>
        <button type="button" class="btn btn-secondary" onclick="$('#myChart').attr('value','deceased'); draw()">Deceased</button>
        {% if name == 'HCM' %}
          <button type="button" class="btn btn-secondary" onclick="$('#myChart').attr('value','critical'); draw()">Critical</button>
        {% endif %}
      </span>
    </div>
    <div class="col-4" align="center">
      <div class="btn-group" role="group">
        <button id="districtDrop" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id='distric-title'>{{ name }}</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="districtDrop">
          {% for district in districts %}
            {% if district != name %}
              <a class="dropdown-item" href="/BeCaked/{{ district.lower().replace(' ','-') }}">{{ district }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-4" align="right" style="padding-top: 3em">
      <span style="font-style: italic; font-size: 80%;">Last updated {{ today }}.21 6:00</span>
    </div>
  </div>
</div>


<div class="container-fluid">
    <canvas id="myChart" value="infected" style="width: 100%; height: 50vh"></canvas>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-{{ 12//num_cols[0] + 1}} col-md-{{ 12//num_cols[1] + 1}} col-sm-{{ 12//num_cols[2] + 1}}" style="margin: 24px 0px;" align="center" id="total_infectious_toggle">
      <h3 style="color: red;"><b>Total Infectious</b></h3>
      <h5 style="color: red;">{{ "{:,}".format(summary[name]['I']['Total']) }}</h5>

    </div>
    <div class="col-lg-{{ 12//num_cols[0] }} col-md-{{ 12//num_cols[1] }} col-sm-{{ 12//num_cols[2] }}" style="margin: 24px 0px;" align="center" id="recovered_toggle">
      <h3 style="color: blue;"><b>Recovered</b></h3>
      <h5 style="color: blue;">{{ "{:,}".format(summary[name]['R']['Total']) }}</h5>

    </div>
    <div class="col-lg-{{ 12//num_cols[0] }} col-md-{{ 12//num_cols[1] }} col-sm-{{ 12//num_cols[2] }}" style="margin: 24px 0px;" align="center" id="deceased_toggle">
      <h3 style="color: gray;"><b>Deceased</b></h3>
      <h5 style="color: gray;">{{ "{:,}".format(summary[name]['D']['Total']) }}</h5>

    </div>

      <div class="col-lg-{{ 12//num_cols[0] }} col-md-{{ 12//num_cols[1] }} col-sm-{{ 12//num_cols[2] }}" style="margin: 24px 0px;" align="center" id="critical_toggle">
        <h3 style="color: purple;"><b>Current Critical</b></h3>
        {% if name == 'HCM'%}
        <h5 style="color: purple;">{{ "{:,}".format(summary[name]['C']['Total']) }}</h5>
        {% else %}
        <h5 style="color: purple;">{{ "{}".format('-') }}</h5>
        {% endif %}
      </div>

      <div class="col-lg-{{ 12//num_cols[0] }} col-md-{{ 12//num_cols[1] }} col-sm-{{ 12//num_cols[2] }}" style="margin: 24px 0px;" align="center" id="deceased_toggle">
        <h3 style="color: #27ae60;"><b>Vaccinated</b></h3>
        <h5 style="color: #27ae60;">{{ "{:,}".format(summary[name]['V']['Total']) }}</h5>
  
      </div>
  </div>
</div>

<hr>

<div class="container-fluid">
  <table class="table table-striped table-inverse table-hover" id="dataTable" width="100%">
      <thead class="thead-inverse">
          <tr>
              <th scope="col" style="text-align:center">No.</th>
              <th scope="col" style="text-align:center">District</th>
              <th scope="col" style="text-align:center">Total infectious</th>
              <th scope="col" style="text-align:center">Total vaccinated (1 shot)</th>
              <th scope="col" style="text-align:center">New infectious</th>
              <th scope="col" style="text-align:center">New vaccinated (1 shot)</th>
          </tr>
      </thead>
      <tbody>
        {% for district in districts %}
        {% if district == name != 'HCM' %}
        <tr style="color: #1abc9c; font-style: italic;">
          <td scope="row" style="text-align:center">{{ loop.index }}</td>
          <td style="text-align:center">{{ district }}</td>
          {% if district in summary %}
          <td style="text-align:center">{{ "{:,}".format(summary[district]['I']['Total']) }}</td>
          <td style="text-align:center">{{ "{:,}".format(summary[district]['V']['Total']) }}</td>
          <td style="text-align:center">{{ "{:,}".format(summary[district]['I']['New']) }}</td>
          <td style="text-align:center">{{ "{:,}".format(summary[district]['V']['New']) }}</td>
          {% else %}
          <td style="text-align:center">{{ "{}".format('-') }}</td>
          <td style="text-align:center">{{ "{}".format('-') }}</td>
          <td style="text-align:center">{{ "{}".format('-') }}</td>
          <td style="text-align:center">{{ "{}".format('-') }}</td>
          {% endif %}
        </tr>
        {% elif district == 'HCM' %}

        {% else %}
        <tr>
          <td scope="row" style="text-align:center">{{ loop.index }}</td>
          <td style="text-align:center">{{ district }}</td>
          {% if district in summary %}
          <td style="text-align:center">{{ "{:,}".format(summary[district]['I']['Total']) }}</td>
          <td style="text-align:center">{{ "{:,}".format(summary[district]['V']['Total']) }}</td>
          <td style="text-align:center">{{ "{:,}".format(summary[district]['I']['New']) }}</td>
          <td style="text-align:center">{{ "{:,}".format(summary[district]['V']['New']) }}</td>
          {% else %}
          <td style="text-align:center">{{ "{}".format('-') }}</td>
          <td style="text-align:center">{{ "{}".format('-') }}</td>
          <td style="text-align:center">{{ "{}".format('-') }}</td>
          <td style="text-align:center">{{ "{}".format('-') }}</td>
          {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
      <tfoot style="font-weight: bold; font-size: 2em;">
          <td scope="row" style="text-align:center"></td>
          <td style="text-align:center">HCM</td>
          <td style="text-align:center">{{ "{:,}".format(summary['HCM']['I']['Total']) }}</td>
          <td style="text-align:center">{{ "{:,}".format(summary['HCM']['V']['Total']) }}</td>
          <td style="text-align:center">{{ "{:,}".format(summary['HCM']['I']['New']) }}</td>
          <td style="text-align:center">{{ "{:,}".format(summary['HCM']['V']['New']) }}</td>
      </tfoot>
  </table>
</div>


<!-- SCRIPTS -->


<script type="text/javascript">
    // TODO: pass args
    function draw(){
      // var typ = $('input[name=chart-type]:checked').val();
      var typ = $("#myChart")[0].getAttribute("value");
      var dates,real,best,normal,worst;
      var ctx = document.getElementById('myChart').getContext('2d');
      dates = {{ data['dates']|tojson }}

      if (typ == "infected") {k = "I";} 
      else if (typ == "recovered") {k = 'R';} 
      else if (typ == "deceased") {k = 'D';}
      else if (typ == "critical") {k = 'C';}
      
      data = {{ data|tojson }}
      real = data[k]['real'];
      best = data[k]['BestCase'];
      normal = data[k]['NormalCase'];
      worst = data[k]['WorstCase'];
      draw_3_scenarios(ctx,dates,real,best,normal,worst);
    }

    draw()

    $('#types-form input').on('change', draw);
</script>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({ "scrollX": true });
    });
</script>

{% endblock %}
