<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <img src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/000000/external-user-interface-kiranshastry-gradient-kiranshastry.png"/>
    </div>

    <!-- Login Form -->
    <form action="" method="post">
        <input type="text" class="fadeIn second" placeholder="Username" name="username" value="{{ request.form.username }}">
        <input type="password" class="fadeIn third" placeholder="Password" name="password" value="{{ request.form.password }}">
      <input type="submit" class="fadeIn fourth" value="Log In">
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </form>
    
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>